<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/builder/xml/mybatis-3-mapper.dtd">

<mapper namespace="com.rockbb.thor.commons.impl.mapper.UserLogMapper">
    <cache eviction="LRU" flushInterval="300000" size="128" readOnly="false" />
    <resultMap type="com.rockbb.thor.commons.api.dto.UserLogDTO" id="userlog_1">
        <id column="id"                           property="id" />
        <result column="session_id"               property="sessionId" />
        <result column="user_id"                  property="userId" />
        <result column="ip"                       property="ip" />
        <result column="action_type"              property="actionType" />
        <result column="secure1"                  property="secure1" />
        <result column="secure2"                  property="secure2" />
        <result column="secure3"                  property="secure3" />
        <result column="notes"                    property="notes" />
        <result column="created_at"               property="createdAt" />
    </resultMap>
    <sql id="key">id</sql>
    <sql id="columns">
        session_id, user_id, ip, action_type, secure1, secure2, secure3,
        notes, created_at
    </sql>
    <sql id="table">u_user_log</sql>

	<insert id="insert" parameterType="com.rockbb.thor.commons.api.dto.UserLogDTO">
        INSERT INTO <include refid="table" />
        (<include refid="key" />, <include refid="columns" />)
        VALUES (
        #{id},
        #{sessionId},
        #{userId},
        #{ip},
        #{actionType},
        #{secure1},
        #{secure2},
        #{secure3},
        #{notes},
        #{createdAt})
    </insert>

    <select id="select" parameterType="java.lang.String" resultMap="userlog_1">
        SELECT <include refid="key" />, <include refid="columns" />
        FROM <include refid="table" />
        WHERE id = #{id}
    </select>

    <sql id="params">
        <if test="param.category != null">AND category = #{param.category}</if>
    </sql>

    <select id="list" resultMap="userlog_1">
        SELECT
            <include refid="key" />, <include refid="columns" />
        FROM
            <include refid="table" />
        <where>
            <include refid="params" />
        </where>
        ORDER BY
            ${pager.sort} ${pager.order}
        LIMIT
            #{pager.offset}, #{pager.limit}
    </select>

    <select id="listIds" resultType="java.lang.String">
        SELECT
            <include refid="key" />
        FROM
            <include refid="table" />
        <where>
            <include refid="params" />
        </where>
        ORDER BY
            ${pager.sort} ${pager.order}
        LIMIT
            #{pager.offset}, #{pager.limit}
    </select>

    <select id="count" resultType="long">
        SELECT
            COUNT(<include refid="key" />) 
        FROM
            <include refid="table" />
        <where>
            <include refid="params" />
        </where>
    </select>
</mapper>
